.App {
  display: grid;
  height: 100vh;
  place-items: center;
}



.drop {
  display: flex;
  flex-flow: column;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid;
  gap: 1rem;

  .drag {
	padding: 0.5rem 1rem;
	border: 1px solid;
	border-radius: 0.5rem;
  }

}
