.card-image-container {
  width: 100%;
  display: grid;
  place-items: center;

  &.space {
	padding: 1rem;
	.card-image{
	  border-radius: 0.5rem;
	}
  }

  .card-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	overflow: hidden;
  }
}
